.remove,
.title {
  position: relative;
}
.title {
  flex: 1;
  line-height: 27px;
}
.remove {
  font-size: var(--px-regular-sentence1-size);
  line-height: 21px;
  color: var(--functional-blue-900);
  text-align: center;
}
.titleParent {
  width: 723px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.b,
.of25000 {
  position: relative;
  line-height: 27px;
}
.of25000 {
  font-size: var(--px-regular-sentence1-size);
  line-height: 21px;
  color: var(--neutrals-grey-500-100);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.frameGroup {
  width: 131px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.frameParent,
.textFieldsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.textFieldsParent {
  align-self: stretch;
  flex-direction: row;
}
.frameParent {
  flex-direction: column;
  text-align: left;
  font-size: var(--px-bold-size);
  color: var(--neutrals-grey-900-100);
  font-family: var(--px-regular-sentence);
}
